/* APP COMPONENT STYLE */
.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 24px;
}

/* SEARCH COMPONENT STYLE */
.Search {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 24px;
  gap: 12px;
  border: 1px solid rgb(145, 145, 145);
  border-radius: 6px;
  background-color: #f7f7f7;
  box-shadow: 3px 3px 1px #575757;
}
.Search > div {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  width: 100%;
}
button.search {
  padding: 6px 24px;
  border-radius: 6px;
  border: none;
  color: #ffeeee;
  background-color: #e40606;
}
button.search:hover {
  transform: translate(-2px, -2px);
  filter: drop-shadow(3px 3px rgb(240, 193, 193));
  transition: 0.8s;
}
button.position {
  border: none;
  background: none;
}
button.position:hover {
  transform: translate(-2px, -2px);
  filter: drop-shadow(3px 3px rgb(240, 193, 193));
  transition: 0.8s;
}
.position-icon {
  width: 24px;
  filter: invert(12%) sepia(80%) saturate(7299%) hue-rotate(20deg) brightness(95%) contrast(124%);
}

/* WEATHERTABLE COMPONENT STYLE */
.WeatherTable {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 12px;
  border: 1px solid rgb(145, 145, 145);
  border-radius: 6px;
  background-color: #f7f7f7;
  box-shadow: 3px 3px 1px #575757;
}